<!DOCTYPE html>
<html>
<head>
  <title>Ameen Frontend</title>
</head>
<body>
  <h1>Frontend is alive</h1>
  <h2> Hello from the FRONTEND</h2>
  <p><%= data %></p>
</body>
<style>
  body{
    background-color:chocolate;
    color: darkgreen;
  }
</style>
</html>